@import url('https://fonts.googleapis.com/css?family=Open+Sans:700');

*{
    margin: 0;
}
  
body {
    background:#e6ecf0;
    font-family: 'Open Sans', sans-serif;
}

.nave {
    background-color: white;
    text-align: center; 
    color:   blue;
    height: 50px;
    padding: 5px;
    margin-top: 10px;
}

.message {
    display: flex;
    justify-content:center;
    margin-top: 1%;
}

#msgPublish{
   margin-top: 6%; 
   align-content: center;
   margin-left: 15%;
   margin-right: 15%;
   background-color: white;
   /*! border-radius: 0.8em; */
   border: solid #A4D9F9 2px;
   border-radius: 0.4em;
}

.text-area {
    border-radius: 0.8em;  
    border: solid #A4D9F9 2px;
    width:500px;
}



.btnTweet{
    border-radius: 10em;  
    width: 80px;
    height: 40px; 
}

img{
  max-width:380px;
  max-height:280px;
  padding-right: 20px;
 }

.hide{
    display: none;
    }
  
.show{
    display: block;
}

#cont{
    text-align: center; 
    color:   blue;
    margin-left: 388px;
}